.honk-titlefont {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 26,
      "SHLN" 34.9;
      font-size: 45px
  }
/* area with quiz question and quiz options */
.container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    gap: 10px;
}

#question {
    text-align: center;
}

.quiz-foot {
    text-align: center;
}

.quiz-question {
    grid-row: 1;
    font-size: x-large;
}

.quiz-options {
    grid-row: 2;
    font-size: x-large;
}

/* score */
.box {
    background-color: white;
    color: black;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#dog-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 200px;
}