.honk-titlefont {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 26,
      "SHLN" 34.9;
      font-size: 45px
  }
  
.container {
    display: grid;
    grid-template-areas: auto auto;
    gap: 10px;
}

.quiz-question {
    grid-row: 1;
}

.quiz-options {
    grid-row: 2;
}
