:root {
    --bulma-info-75: hsla(
        var(--bulma-primary),
        var(--bulma-info-h),
        var(--bulma-info-s),
        var(--bulma-info-75-l),
      1
      );
  }


body {

}

.wrapper {

}

.container quiz-body {

}

.js-modal-trigger {

}

.honk-titlefont {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 26,
      "SHLN" 34.9;
      font-size: 45px
  }
  